<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admincuahangdientu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_admin_ltk"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_admin_ltk"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminCuaHangDienTu">
        <activity
            android:name=".ThongKeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".t_donhang.ChiTietDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".tintuc.SuaTinTucActivity"
            android:exported="false" />
        <activity
            android:name=".tintuc.DanhMucTinTucActivity"
            android:exported="false" />
        <activity
            android:name=".tintuc.ThemTinTucActivity"
            android:exported="false" />
        <activity
            android:name=".sanpham.SuaDanhMucActivity"
            android:exported="false" />
        <activity
            android:name=".sanpham.ThemDanhMucActivity"
            android:exported="false" />
        <activity
            android:name=".sanpham.SuaSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".sanpham.DanhMucSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".YoutubeActivity"
            android:exported="false" />
        <activity
            android:name=".sanpham.ThemSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".SignInAdminActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>